*.cbk*
*.~*
*.7z.local
*.aqt
*.cfg
*.dcu
*.ddp
*.dof
*.drc
*.dsk
*.identcache
*.local
*.log
*.map
*.otares
*.rar
*.rsm
*.save
*.stat
*.tmp
*.txt
*.vlb
*_DfmCheck_Unit.pas
__history
__recovery
~*.*
test photos
Win32-Debug
